
<dev>
<h1><%= @plumber.name %></h1>
</dev>

<dev>
  <p>plumber name: <%= @plumber.name %></p>
  <p><%= image_tag @plumber.image_url %></p>
</dev>

<p class="nav-bar"> <%= link_to "see all problems]", problems_path %></p>
<p class="nav-bar"> <%= link_to "[see all plumbers]", plumbers_path %></p>
