<!DOCTYPE html>
<html>
  <head>
    <title>Paulsplumbers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Montserrat" rel="stylesheet">
  </head>

  <body>
    <header>
      <dev class="nav-bar-total">
        <a class="top-title-webpage"> Pauls Plumbers </a>
        <a class="nav-bar"> <%= link_to "See all problems", problems_path %></a>
        <a class="nav-bar"> <%= link_to "See all plumbers", plumbers_path %></a>
      </dev>
    </header>

    <%= yield %>

    <footer> <p class="copyright"> &copy The content of the website is copyright protected All rights reserverd
    </p></footer>

  </body>
</html>
